.page-slide.d-flex.align-items-center
    .container-fluid.has-width-limit
        .row    
            .col-md-10.offset-md-1
                h2.text-title-md Selected Work 
                .js-work-slider.work-slider
                    div.js-slide-1
                        .work-slide 
                            .work-slide-img 
                                img(src="../img/work-victory.jpg", alt="")
                            .work-slide-title-sm Victory
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente nihil maiores, impedit natus illo totam autem aliquam 
                    div.js-slide-2
                        .work-slide 
                            .work-slide-img 
                                img(src="../img/work-metiew-smith.jpg", alt="")
                            .work-slide-title-sm MeTiew & Smith  
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente nihil maiores, impedit natus illo totam autem aliquam  
                    div.js-slide-3 
                        .work-slide 
                            .work-slide-img 
                                img(src="../img/work-alex-nowak.jpg", alt="")
                            .work-slide-title-sm Alex Nowak 
                            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente nihil maiores, impedit natus illo totam autem aliquam   